{% load static %}
<!DOCTYPE html>
<html lang="en" class="extract">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Morphology Linguistics</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
        crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'grid.css'%}">
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <link rel="icon" type="image/png" href="{%static 'lt.png' %}">
    </head>
    <body class="extract">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
                <a href="/button1/"><img src="{% static 'lt.png' %}" alt="Morphology Linguistics" class="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/upload/">Text Extraction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/transf/">Translation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/spellc/">Grammar Check</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/summ/">Summarization</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <br>
            <br>

            <div class="row">
                <div class="card mx-auto text-center ex">
                    <div class="card-body">
                        <h5 class="card-titlee">Text Extraction</h5>
                        <form action="/upload/" method="POST" enctype="multipart/form-data">
                            {%csrf_token%}
                            Choose a file:
                            <input style="text-align: center;" type="file" name="document">
                            {{data_external}}<br>
                            <button class="btne" type="submit">Upload file</button>
                            <br>
                            {{textsum2}}
                             {% comment %} {%if url%}
                            <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
                            {% endif %} {% endcomment %}
                        </form>
                        <form action="/textm/" method="POST" enctype="multipart/form-data"><br><br>
                            {%csrf_token%}
                            Image Name:
                            <input style="text" type="text" name="pa5" value="{{url}}">
                            {{data_external}}
                            <br>
                            <p>{{text3}}</p>
                            <button class="btne btn-sm" onclick="location.href='(% url 'views.textm' %)' " type="submit">OK</button>
                            <br>
                            <br>
                            Download the Output File:
                             <a href="http://localhost:8000/media/output.txt" download>Download File</a>
                        </form>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>