{% load static %}
<!DOCTYPE html>
<html lang="en" class="grammar">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Morphology Linguistics</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
      crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
      crossorigin="anonymous"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="{% static 'grid.css'%}">
      <link rel="stylesheet" href="{% static 'style.css'%}">
      <link rel="icon" type="image/png" href="{%static 'lt.png' %}">
    </head>
    <body class="grammar">
        <header class="grammar">
          <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" role="navigation">
            <a href="/button1/"><img src="{% static 'lt.png' %}" alt="Morphology Linguistics" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/upload/">Text Extraction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/transf/">Translation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/spellc/">Grammar Check</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/summ/">Summarization</a>
                    </li>
                </ul>
            </div>
          </nav>
          <div class="col-container">
              <div class="card gram text-center">
                  <div class="card-body">
                    <h5 class="card-titleg">Grammar Check</h5>
                    <form action="/spellc/" method="POST">
                      {% csrf_token %}
                      <textarea type="text" class="form-control" id="grammar" rows="9" cols="50" placeholder="Enter Text" name="param" required></textarea>
                      {{data_external}}
                      <p>{{data1}}</p>
                      <p>{{data2}}</p>
                      <p>{{data3}}</p>
                      <input type="submit" class="btn btn-lg" value="Check">
                    </form>
                  </div>
              </div>
          </div>
        </header>
    </body>
</html>